.body {
    margin: 0;
}
.header {
    display: flex;
   justify-content: space-between;
   height: 84px;
   align-items: center;
   padding: 0 150px;
   padding-top: 8px;
   padding-bottom: 8px;
}
.menu-btn {
    display: flex;
    gap: 60px;
    align-items: center;
    padding-bottom: 8px;
    

}

.nav-menu {
    display: flex;
   gap: 60px;
   align-items: center;
   padding: 8px;
   
  
   
}
.CONTACT-US {
    background-color:#020e35;
    color:#FFFFFF;
    gap: 4px;
    padding: 24px 40px;


}
.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}
.HOME{
    text-decoration:underline #FF5678;
    text-underline-offset: 4px;
    

}